.App {
    font-family: sans-serif;
    size: 100px;
    text-align: center;
    background-color: rgb(217, 150, 168);
    padding: 4px;
  color: rgb(82, 46, 52);
  }
  
  body {
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148907303.jpg?w=1800&t=st=1668909166~exp=1668909766~hmac=1b6f8bfc7c00bf3de561c48dddcde31710a84f21d18198ef0f19a8cfd5d9575c");
    margin: 0;
    padding: 110px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  section {
    display:flex;
  }
  
  section .weather {
   border: 1px solid #ccc;
   flex: 1;
   padding:10px;
   text-align:center;
  }
  
  .weather span {
    font-weight: bold;
  }
  .weather { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(251, 230, 233);

  }
  .weather-icons {
    border: 2px solid rgb(193, 136, 146);
 padding: 40px


  
  }
